/* COLOR PALETTE */
:root {
    --primary-color: #fcd0a1;
    --secondary-color: #4c6085;
    --tertiary-color: #5b8266;
}  

/* UNIVERSAL STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


/* HEADER STYLING */
 header {
    padding: 10px 0 20px 0;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sitcky;
    position: sticky;
    top: 0;
 }

 header h1 {
    padding: 10px 15px 10px 175px;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--secondary-color);
 }

 header a {
    text-decoration: none;
    color: var(--primary-color);
 }

 header h1 a:hover {
    color: var(--tertiary-color);
    font-size: 42px;
 }

 header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 100px 10px 15px;

 }

 header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: var(--primary-color);
    padding: 10px 15px;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    color: var(--secondary-color);
    font-size: 35px;
    text-shadow: 0 0 7px rgba(252, 208, 161, 0.5);
}

/* HERO STYLING */
.hero {
    background-image: url(../images/hero.webp);
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

/* SECTION STYLING */
.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
}

.section-title {
    color: var(--secondary-color);
    display: flex;
    justify-content: flex-end;
    flex: 1 0 100px;
    font-size: 40px;
    padding: 10px 10px 10px 100px;
    border-right: 5px solid var(--tertiary-color);
}


.section-content {
    display: flex;
    flex-wrap: wrap;
    flex: 3 0 300px;
    padding: 10px 20px 10px 30px;
}


/* ABOUT ME STYLING */
.about-me p {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-size: 20px;
}

/* MY WORK STYLING */
.my-work {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    flex: 1 0 30%; 
    margin: 15px;
    padding: 0 0 20px 0;
    border: 5px solid var(--tertiary-color);
    height: 200px;
}

.project-title {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100px;
    width: 250px;
    padding: 10px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

.project-title h4 { 
    font-size: 15px; 
    font-style: italic;
}

.first-project {
    flex: 3 0 90%;
    background-image: url(../images/tourish.png);
    background-color: #5b8266;
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
    height: 500px;
} 

.second-project {
    background-image: url(../images/horiseon.jpg);
    background-color: #5b8266;
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
}

.third-project {
    background-image: url(../images/run-buddy.jpeg);
    background-color: #5b8266;
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
}

.fourth-project {
    background-image: url(../images/default-icon.jpeg);
    background-color: #5b8266;
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
}

.project:hover {
    background-blend-mode: normal; 
}

.project:hover .project-title {
    height: 110px;
    width: 260px;
    font-size: 23px;
}

/* CONTACT ME STYLING */
.contact-links {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: var(--primary-color);
}

.contact-links a, phone {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 26px;
    padding: 10px 20px;
    border: 5px solid var(--tertiary-color);
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.contact-links a:hover, phone:hover {
    color: var(--tertiary-color);
    font-size: 28px;
} 

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    header nav {
        margin-top: 15px;
        margin-bottom: 15px;
        justify-content: center;
        padding: 0;
    }

    header nav ul li a  {
        font-size: 20px;
    }

    .contact-links {
        flex-direction: column;
        align-content: flex-start;
    }
}

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {

    section {
        padding: 30px 15px;
        flex-direction: column;
    }

    .section-title {
        justify-content: center;
        padding: 20px;
        border-right: none;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        flex: none;
    }

    .contact-links {
        align-content: center;
        padding-top: 30px;
  }
}
    
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
      .section-title {
          font-size: 30px;
      }

      .first-project {
       height: 200px;
  }
}